.passwordLost {
  display: grid;
  grid-template-columns: 1fr 1fr;
  min-height: 100vh;
  gap: 2rem;
}

.passwordLost::before {
  content: "";
  display: block;
  background: url("../../../Assets/login.jpg") no-repeat center center;
  background-size: cover;
}

.forms {
  max-width: 30rem;
  padding: 1rem;
}

@media (max-width: 40rem) {
  .passwordLost {
    grid-template-columns: 1fr;
  }
  .passwordLost::before {
    display: none;
  }
  .forms {
    max-width: 100%;
  }
}